<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Likharyo{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


<div class="fixed-bg"></div>

<header class="navbar">
    <div class="navbar-inner">
        <div class="img-logo">
            <img src="{{ url_for('static', filename='images/beige.png') }}" alt="Likharyo Logo" />
        </div>
        <h1 class="pamagat">Likharyo</h1>

        <nav class="nav-buttons">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/home.png') }}" class="img-home" alt="Home"></a>
            <a href="{{ url_for('about_page') }}" class="nav-link">About</a>
            <img src="{{ url_for('static', filename='images/white_cart.png') }}" class="img-cart" alt="Cart" />


            {% if current_user.is_authenticated %}
                {% if current_user.shop_admin %}
                    <a href="{{ url_for('views.admin_dashboard') }}" class="nav-link" style="color: #ffcc00;">View Shop</a>
                {% else %}
                    <a href="{{ url_for('views.viewer_dashboard') }}" class="nav-link">Profile</a>
                {% endif %}
                <a href="{{ url_for('log_out', user_type='admin' if current_user.shop_admin else 'viewer') }}" class="nav-link">Log Out</a>
            {% else %}
                <div class="dropdown">  
                    <button class="dropbtn">Sign Up ▾</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('views.register_admin') }}">Seller</a>
                        <a href="{{ url_for('views.register_viewer') }}">Regular</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Log In ▾</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('views.login_admin') }}">Seller</a>
                        <a href="{{ url_for('views.login_viewer') }}">Regular</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>

</header>

{% block content %}{% endblock %}

{% if not is_exclude %}
<footer>
    <p>&copy; 2025 Likharyo Artisan Platform</p>
</footer>
{% endif %}



</body>
</html>