{% extends "base.html" %}
{% block title %}Home | Likharyo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="content-frame">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <section id="top" class="hero-section">
        <h2>Craft a beautiful creation</h2>
        <p>At Likharyo, talented crafters meet clients in search of inspired, high‑quality storytelling and content</p>
        <a href="#target-frame" class="scroll-down-btn">Explore More ↓</a>
    </section>

    <div id="below-content" class="below-content">
        <div class="img-block">
            <img class="inline-img" src="{{ url_for('static', filename='artisans/4. Maëlys Santos - Maëlys Fabric & Thread (Embroidery).jpg') }}" alt="image1" />
            <img class="inline-img" src="{{ url_for('static', filename='products/7.5.jpg') }}" alt="image2" />
            <img class="inline-img" src="{{ url_for('static', filename='artisans/11. Skye Garcia - Skye and Stitch (TextileUpcycling).jpg') }}" alt="image3" />
            <img class="inline-img" src="{{ url_for('static', filename='products/19.3.jpg') }}" alt="image4" />
            <img class="inline-img" src="{{ url_for('static', filename='artisans/7. Liam De La Cruz - Liam Letterpress Studio (Printing).jpg') }}" alt="image5" />
        </div>
    </div>

    <div id="target-frame" class="lower-frame">
        <iframe src="" class="my-frame"></iframe>
    </div>
</div>
{% endblock %}
