{% extends "base.html" %}
{% block title %}Home | Likharyo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
    <section id="top" class="hero-section">
        <h2>Discover Goods Made with Intention.</h2>
        <p>At Likaryo, discerning collectors meet talented artisans in search of inspired, high-quality, and truly unique handcrafted goods and original art.</p>
        <a href="#target-frame" class="scroll-down-btn">Explore ↓</a>
    </section>

    <div id="below-content" class="below-content">
        <div class="img-block">
            <img class="inline-img" src="{{ url_for('static', filename='artisans/4. Maëlys Santos - Maëlys Fabric & Thread (Embroidery).jpg') }}" alt="image1" />
            <img class="inline-img" src="{{ url_for('static', filename='products/7.5.jpg') }}" alt="image2" />
            <img class="inline-img" src="{{ url_for('static', filename='artisans/11. Skye Garcia - Skye and Stitch (TextileUpcycling).jpg') }}" alt="image3" />
            <img class="inline-img" src="{{ url_for('static', filename='products/19.3.jpg') }}" alt="image4" />
            <img class="inline-img" src="{{ url_for('static', filename='artisans/7. Liam De La Cruz - Liam Letterpress Studio (Printing).jpg') }}" alt="image5" />
        </div>
    </div>
    
{% endblock %}

